<footer>
  <div id="footer" class="container-fluid" style="background:rgb(0,59,92); color:#01AAD1; padding-top:30px; margin-top: 30px">
    <div class"container" style="width: 90%; padding-left:15%;">
      <div class="row">
        <div class="col-md-6">
          <address>
            <strong>Benemérita Universidad Autónoma de Puebla</strong><br>
            4 Sur 104 Centro Histórico<br>
            C.P. 72000<br>
          </address>
        </div>
        <div class="col-md-6">
          <address>
            <strong>Instituto de Ciencias BUAP </strong><br>
            Edificio IC 10. Cuidad Universitaria<br>
            Colonia San Manuel, C.P. 72570. Puebla, Puebla México<br>
            <abbr title="Phone">Teléfono:</abbr> (222) 2295500 Ext. 7050
          </address>
        </div>
      </div>
    </div>
  </div>
</footer>
