{% extends 'base.html.twig' %}
{% block body %}
{{ parent() }}
<div class="container">
  <form class="form-signin" action="{{ path('rcm_usuario_login_check') }}" method="post">
    <h2 class="form-signin-heading">Inciar sesión</h2>
    {% if error %}
    <div class="text-danger">
      <p>
        <b>{{ error.messageKey }}</b>
      </p>
    </div>
    {% endif %}
    <label class="sr-only">Email:</label>
    <input id="email" name="_email" value="{{ last_username }}" type="email" class="form-control" placeholder="Email..." required autofocus/>
    <label class="sr-only">Contraseña:</label>
    <input id="password" name="_password" type="password" class="form-control" placeholder="Contraseña..." required/>
    <input type="hidden" name="_target_path" value="rcm_usuario_homepage"/>
    <button type="submit" name="button" class="btn btn-primary btn-lg btn-block ">Ingreasar</button>
  </form>
</div>
{% endblock %}
